:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

.drAcula {
  color: #d7d7d7;
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #333333;
  align-content: center;
  justify-content: space-evenly;
}

.into {
  display: flex;
  margin-right: 0;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.redText {
  color: #fd5c5b;
}

.into h1 {
  text-align: center;
  align-items: center;
  line-height: 3rem;
  /* font-weight: 700; */
  font-size: 2.5rem;
  color: #d7d7d7;
  width: 100%;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  padding-bottom: 2.5rem;
}

nav ul li {
  text-align: center;
}

.redNav {
  color: #fd5c5b;
  list-style: none;
  padding-right: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.greyNav {
  color: #7a7a7a;
  list-style: none;
  padding-right: 1.5rem;
}

.photos ul {
  list-style: none;
  padding: 0.75rem;
  margin: 0%;
}

.photos img {
  padding-top: 2rem;
  width: 93%;
  height: 93%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

footer {
  color: #d7d7d7;
  text-align: center;
  font-size: 1rem;
  margin-top: 6rem;
}

button.block {
  margin: 0;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.block {
  display: block;
  width: 30%;
  border: none;
  color: whitesmoke;
  background-color: black;
  padding: 16px 28px;
  font-size: 0.75rem;
  cursor: pointer;
}

@media (min-width: 10px) {
  .hiddenNav ul {
    visibility: hidden;
  }
  .button2 {
    visibility: hidden;
  }
  .photos us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .photos li {
    flex-basis: 100%;
  }
}

@media (min-width: 700px) {
  .hiddenNav {
    margin: 0;
    padding: 0;
  }

  .hiddenNav ul {
    visibility: visible;
    display: flex;
    list-style: none;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .hiddenNav li {
    margin-right: 0;
  }
  .drAcula2 {
    color: #d7d7d7;
    font-weight: bold;
    font-size: 1.4rem;
    width: 20%;
    margin-left: 4rem;
  }
  .hiddenNav button {
    margin: 0;
    block-size: 0;
    color: whitesmoke;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: block;
    width: 80%;
    border: none;
    color: whitesmoke;
    background-color: black;
    padding: 16px 28px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  .photos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 0;
    padding-left: 0;
  }
  /* ja;lskdfkasjdfkas;dkfja */
  /* ksdjf;kajsd;klfjakl;df */
  /* laskdjf;kasjd;fkasdjas;kldfj */
  .drAcula {
    visibility: hidden;
    /* width: 20%;
    margin-left: 4rem; */
  }
  .photos li {
    flex-basis: 50%;
  }
  .photos img {
    width: 93%;
    height: 93%;
    /* object-fit: cover;
    width: 20rem;
    height: 20rem;
    margin: .5rem;
    margin-right: .5rem; */
  }
  nav ul {
    width: 90%;
  }
  .into h1 {
    width: 73%;
    margin-left: 7rem;
    font-size: 3rem;
  }
  .into {
    margin-bottom: 6rem;
  }
  nav ul {
    padding-bottom: 0.5rem;
  }
  footer {
    text-align: center;
    font-size: 1.5rem;
  }
  .block {
    width: 15%;
    padding: 14px 13px;
    font-size: 0.7rem;
  }
}

@media (min-width: 1000px) {
  .photos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .photos li {
    flex-basis: 33.33%;
  }
}
